  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-push-4 tac mb">
          <img src="{{ site.baseurl }}/img/logo.png" alt="">
        </div>
        <div class="col-md-4 col-md-pull-4 tac">
          <img class="hidden-xs" src="{{ site.baseurl }}/img/i-about.png" alt="">
          <p class="brief-text">Scatter is the first product from Spiral Content Solutions Pvt. Ltd. Our team boasts of several years of varied experience across firms like MTV, Blackstone and BBC etc. We believe this is a great time to realize our collective dream of creating exceptional content experiences by connecting content creators to brands.</p>
        </div>
        <div class="col-md-4 tac">
          <img class="hidden-xs" src="{{ site.baseurl }}/img/i-connect.png" alt="">
          <p class="brief-text">From former media executives to fresh graduates, our team is a great balance of experience & new blood. Our shared love and vision for digital marketing brings us together. Our ambition is to create “simple to use” products that help brands connect with their audiences.</p>
          <p><a target="_blank" href="http://www.linkedin.com/company/spiral-content-solutions" class="linkedin-link">CONNECT ON LINKEDIN</a></p>
        </div>
      </div>
    </div>
  </div>

  <div id="interact" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-push-6">
          <div class="scatter-links tac">
            <a href="https://www.facebook.com/pages/Spiral-Content-Solutions-Pvt-Ltd/1534191826828446?ref=hl" class="scatter-link scatter-link-facebook" target="_blank"></a>
            <a href="https://twitter.com/spiralcontent" class="scatter-link scatter-link-twitter" target="_blank"></a>
            <a href="http://www.linkedin.com/company/spiral-content-solutions" class="scatter-link scatter-link-linkedin" target="_blank"></a>
            <a href="https://plus.google.com/111365358324408730701" class="scatter-link scatter-link-googleplus" target="_blank"></a>
            <a href="http://www.slideshare.net/spiralcontent" class="scatter-link scatter-link-slideshare" target="_blank"></a>
            <a href="https://www.pinterest.com/spiralcontent/" class="scatter-link scatter-link-pinterest" target="_blank"></a>
          </div>
        </div>
        <div id="contact" class="col-md-6 col-md-pull-6">
          <div class="form">
            <h2 class="hd-2">Contact us</h2>
            <form action="http://www.spiral.media/sendmail/" method="POST">
              <div class="row mb">
                <div class="col-xs-6"><input class="form-control" type="text" required name="first_name" placeholder="First Name"></div>
                <div class="col-xs-6"><input class="form-control" type="text" required name="last_name" placeholder="Last Name"></div>
              </div>
              <div class="row mb">
                <div class="col-xs-6"><input class="form-control" type="text" required name="phone" placeholder="Phone Number"></div>
                <div class="col-xs-6"><input class="form-control" type="email" required name="email" placeholder="E-Mail"></div>
              </div>
              <div class="row mb">
                <div class="col-xs-6"><input class="form-control" type="text" required name="company" placeholder="Company"></div>
                <div class="col-xs-6"><input class="form-control" type="text" required name="job_function" placeholder="Job Function"></div>
              </div>
              <textarea name="message" rows="5" class="form-control mb" placeholder="Message"></textarea>
              <div class="row">
                <div class="col-md-6 col-md-offset-6"><input type="submit" class="btn btn-tertiary btn-block" value="Say hello"></div>
              </div>
              <input type="hidden" name="redirect_url" value="{{ site.production_url }}{{ page.url }}#thanks" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="thanks">
    <div class="container tac">
      <p>Thanks for subscribing! Get ready to engage unfoolishly.</p>
    </div>
  </div>

  <div id="footer" class="hidden-xs">
    <div class="container tac footer-links">
      <p><a href="{{ site.baseurl }}/advertisers">information for advertisers</a> - <a href="{{ site.baseurl }}/files/scatter-advertiser-faqs.pdf" target="_blank">FAQs for advertisers</a> - <a href="{{ site.baseurl }}/publishers">information for publishers</a> - <a href="{{ site.baseurl }}/files/scatter-publisher-faqs.pdf" target="_blank">FAQs for publishers</a> - <a href="{{ site.baseurl }}/knowledge">knowledge &amp; resource center</a></p>
      <p>Copyright &copy; 2014 Spiral Content Pvt Ltd</p>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.pin.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.swipe.min.js"></script>
  <script src="{{ site.baseurl }}/js/is.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/unveil/1.3.0/jquery.unveil.min.js"></script>
  <script src="{{ site.baseurl }}/js/scatter.js"></script>
  {% include ga.html %}
</body>
</html>