<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scatter</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/scatter-favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts/stylesheet.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/scatter.css">
</head>
<body>