<div class="section section-dark">
  <div class="container tac">
    <div class="customers mt mb">
      <a data-cycle-cmd="goto" data-cycle-arg="0" class="customer customer-coca-cola active"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="1" class="customer customer-starbucks"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="2" class="customer customer-nikon"></a>
    </div>
    <div class="testimonials cycle-slideshow mb" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; .testimonial" data-cycle-pager=".cycle-pager">
      <div class="testimonial">
        <blockquote>
          <p class="quote">"Scatter is an innovative product that adds speed and scale to our plethora of content offering. Given the team's experience in publishing and our want to stay ahead, we decided to take the plunge in this innovative offering."</p>
        </blockquote>
        <p class="hd-3">- Deepali Naair, CMO, Mahindra Holidays</p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">"At its heart and USP, Scatter solves the ever impeding need of content to engage with audience &amp; the advertiser can be assured of an intrinsic branded environment."</p>
        </blockquote>
        <p class="hd-3">- Ritesh Singh, CEO, ARM Digital</p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">"Being a young brand we have been known for the initiatives, risks &amp; innovations we brought to the mobility space. Engagement with audience through creative &amp; compelling content in today's world will be the key. Scatter as a tool will allow us to explore this."</p>
        </blockquote>
        <p class="hd-3">- Arvind Vohra, Country CEO &amp; MD, Gionee India</p>
      </div>
    </div>
  </div>
</div>

